<script src="$!basePath/framework/js/form/checkbox.js"></script>
<script src="$!basePath/framework/js/view/tree.js"></script>
<script src="$!basePath/framework/js/view/datagrid.js"></script>
<div class="modal-header no-b">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> 选择角色</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div id="jsTreeRoleUnit"></div>
        </div>
        <div class="col-lg-8 col-md-8">
            <table id="dgRoleSelectUnit"></table>
            <div id="dgRoleSelectUnitPager"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="ok" type="submit" class="btn btn-primary">确认选择</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>