<link rel="stylesheet" href="$!basePath/framework/css/ext/file.css">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="ti-folder"></i> 文件浏览器<span></span></h4>
</div>
<div class="modal-body" style="max-height: 600px; overflow-y: auto;">
    <ol id="nav" class="breadcrumb">
        <li><i class="ti-home"></i> <a href="javascript:;" data-type="root">根目录</a></li>
    </ol>
    <div class="row" id="fileList">

    </div>
</div>
<div class="modal-footer">
    <div class="pull-left btn-group">
        <button id="prev" type="button" class="btn btn-default" disabled="disabled"><i class="ti-arrow-left"></i></button>
        <button id="root" type="button" class="btn btn-default" data-type="root"><i class="ti-home"></i></button>
        <button id="reload" type="button" class="btn btn-default" data-type="reload"><i class="ti-reload"></i></button>
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">关 闭</button>
</div>
<input type="hidden" id="uploadPrefix" value="$!uploadPrefix">