<div class="modal-body no-p">
	<div class="row">
		<div class="col-xs-12">
			<section class="panel panel-primary no-b">
                <div class="panel-body bg-primary" style="padding-top: 50px;">
                    <a href="javascript:;" class="show text-center">
						#if($!user.headImage)
                            <img src="$!{basePath}$!user.headImage?$!range" class="avatar avatar-lg img-circle" alt="">
						#else
                            <img src="$!basePath/framework/img/avatar.jpg" class="avatar avatar-lg img-circle" alt="">
						#end
                    </a>
                    <div class="show mt15 mb15 text-center">
                        <div class="h5"><b>$!user.realName</b></div>
                        <p class="show">隶属于：$!unitNames</p>
                    </div>
                </div>
	            <table class="table table-bordered table-striped">
	            	<tr>
	            		<td>联系方式</td>
	            		<td>$!user.mobile</td>
	            		<td>电子邮箱</td>
	            		<td>$!user.email</td>
	            	</tr>
	            	<tr>
	            		<td>QQ</td>
	            		<td>$!user.qq</td>
	            		<td>页面风格</td>
	            		<td>$!user.pageStyle</td>
	            	</tr>
	            	<tr>
	            		<td>是否在线</td>
	            		<td>#if($!user.isOnline())<i class="fa fa-circle text-success ml5">#else<i class="fa fa-circle text-danger ml5">#end</td>
	            		<td>是否启用</td>
	            		<td>#if($!user.enabled)<i class="fa fa-circle text-success ml5">#else<i class="fa fa-circle text-danger ml5">#end</td>
	            	</tr>
	            	<tr>
	            		<td>最后登录时间</td>
	            		<td>$!user.lastLoginTime</td>
	            		<td>注册时间</td>
	            		<td>$!user.createTime</td>
	            	</tr>
	            	<tr>
	            		<td>拥有角色</td>
	            		<td colspan="3">$!roles</td>
	            	</tr>
                    <tr>
                        <td>所属用户组</td>
                        <td colspan="3">$!groups</td>
                    </tr>
	            </table>
	        </section>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>