<ul class="nav navbar-nav horizontal">
    <li class="hidden-xs" data-toggle="tooltip" data-placement="bottom" title="展开/收缩菜单">
        <!-- 展开、缩小菜单 -->
        <a href="javascript:;" class="toggle-sidebar">
            <i class="ti-menu"></i>
        </a>
    </li>
    <li class="header-search" data-toggle="tooltip" data-placement="bottom" title="系统全局搜索">
        <!-- 搜索框 -->
        <a href="javascript:;" class="toggle-search">
            <i class="ti-search"></i>
        </a>
        <div class="search-container">
            <form role="search">
                <input type="text" class="form-control search" placeholder="输入搜索内容后按回车键搜索">
            </form>
        </div>
    </li>
</ul>
<div class="tab-nav">
    <ul class="nav nav-pills" role="tablist">

    </ul>
</div>