<form id="roleEditForm" class="form-horizontal parsley-form" data-parsley-validate role="form" method="post" action="$!basePath/system/role/edit/do">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">修改角色</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" name="id" value="$!role.id">
        <input type="hidden" name="unit.id" value="$!unit.id">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" data-parsley-required="true" placeholder="名称" value="$!role.name" autofocus>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="descript" placeholder="描述">$!role.descript</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label for="enabled" class="col-sm-2 control-label">是否启用</label>
                    <div class="col-sm-10">
                        <div class="switcha mr15">
                            <input type="checkbox" name="enabled" class="form-control js-switch-blue" #ifChecked($!role.enabled)>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">数据权限</label>
                    <div class="col-sm-10">
                        <select name="perm" class="form-control chosen">
                            #foreach($!obj in $!permMap.entrySet())
                            <option value="$!obj.key" #ifSelected($!obj.key, $!role.perm)>$!obj.value</option>
                            #end
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="ok" type="submit" class="btn btn-primary btn-form-submit" data-loading-text="正在保存...">提 交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
    </div>
</form>
<script type="text/javascript">
    ns.requireJS([
        "/framework/js/form/form.js",
        "/framework/js/form/select.js",
        "/framework/js/form/validator.js"
    ]);
    ns.ready(function (dialog) {
        $("#roleEditForm").ajaxForm({
            beforeSubmit: function (arr, form, options) {
                form.find("#ok").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.success == true) {
                    ns.tip.toast.success("角色更新成功！");
                    ns.view.Dialog.close(form, {isEdited: true, id: data.id});
                } else {
                    ns.tip.toast.error(data.message);
                }
                form.find("#ok").button("reset")
                ;
            }
        });
    });
</script>