<!DOCTYPE HTML>
<html class="error-page no-js" lang="zh_CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

<title>对不起，服务器发生错误！ - ${system_admin_title}</title> #required_css
</head>

<body>
	<div class="center-wrapper">
		<div class="center-content text-center">
			<div class="row no-m">
				<div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-6 col-md-6 col-md-offset-3">
					<section class="panel bg-white no-b fadeIn animated">
						<div class="p15">
							<div class="pb15">
								<div class="error-number animated bounceIn">500</div>
								<p>对不起，服务器发生错误！</p>
							</div>
							<div class="pb15">
								<a href="$!basePath/index" class="btn btn-default btn-outline"><i class="fa fa-home"></i> 返回首页</a>
							</div>
							<p class="text-center">
								Copyright &copy; <span id="year" class="mr5"></span> <span>NethSoft Co.,Ltd. All rights reserved 保留所有权利</span>
							</p>
						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
