<script src="$!basePath/framework/js/form/checkbox.js"></script>
<script src="$!basePath/framework/js/view/tree.js"></script>
<div class="modal-header no-b">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title"><i class="fa fa-user"></i> 选择机构</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="__jsTreeUnit"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div id="topUnit" class="pull-left" style="display: none;">
        <button type="button" class="btn btn-success">
            设为顶级组织
        </button>
    </div>
    <button id="ok" type="submit" class="btn btn-primary">确认选择</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</div>